body {
  font-family: Baskerville, Georgia, "Times New Roman", serif;
  font-size: 105%;
  background-image: url('/images/logo-transparent.png');
  background-repeat: no-repeat;
  background-position: top right;
}

h1 {
  font-variant: small-caps;
  font-size: 334%;
}

div#pitch {
  margin: 1em 0;
  font-size: 110%;
}

.de-em {
  color: #666;
}

p {
  padding: 5px;
  line-height: 1.5em;
}

#hd {
  border-bottom: 1px solid #666;
}

#ft {
  border-top: 1px solid #666;
  color: #666;
}

#doc2 {
  width: 90%;
}

#project-list li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(54, 54, 54, 0.2);
}

  #project-list li h2 {
    font-size: 170%;
    font-variant: small-caps;
  }
  
    #project-list li h2 a {
      color: #0a0082;
    }

#bd {
  margin-bottom: 1em
}
