body {
  font-family: Baskerville, Georgia, "Times New Roman", serif;
  font-size: 100%;
  background-image: url('/images/logo-transparent.png');
  background-repeat: no-repeat;
  background-position: top right;
}

h1 {
  font-variant: small-caps;
  font-size: 334%;
}

#hd {
  border-bottom: 1px solid black;
}

#ft {
  border-top: 1px solid black;
}

p {
  padding: 5px;
}

#project-list li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(54, 54, 54, 0.2);
}

  #project-list li h2 {
    font-size: 170%;
    font-variant: small-caps;
  }
  
    #project-list li h2 a {
      color: #0a0082;
    }
  