<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/reset-fonts-grids-min.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="icon" type="image/png" href="/images/favicon.png" />
</head>

<body>
  <div id="doc2"> 
    <div id="hd"><h1>Conflagration JS</h1></div>  
    <div id="bd">{{ content }}</div>  
    <div id="ft">Contribute to this site by <a href="http://github.com/conflagrationjs/conflagrationjs.github.com">forking it on GitHub</a>.</div>  
  </div>
</body>
</html>
